.link {
  font-size: 0.8rem;
  color: white;
  background-color: orange;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
